<!DOCTYPE html>
<html>
<head>
	<title>Ayuda</title>
	<link type="text/css" href="css/style.css" rel="stylesheet">
	<link type="text/css" href="css/formulario.css" rel="stylesheet">
	<link type="text/css" href="css/menu.css" rel="stylesheet">
</head>
<body>
	%include("templates/header.html", act_item=4)

	<h1>Ayuda</h1>

	<p>Al finalizar la Segunda Guerra Mundial, la fábrica Volkswagen de Wolfsburgo, Alemania, pasó a manos del gobierno británico, el cual recibió el 23 de abril de 1947 una propuesta del empresario holandés Ben Pon para comercializar la marca en los Países Bajos. Con base en un Escarabajo que recorría la planta como coche de carga, el empresario propuso la creación de un modelo carguero comercial que comenzó a proyectarse luego de la aprobación de acuerdo por parte de los directivos de la compañía. </p>
	<p>A fines de 1948 comienza el proceso de construcción del entonces denominado Volkswagen tipo 29. Al presentarse al público, adquirió la nomenclatura definitiva de Volkswagen Tipo 2, como consecuencia de que el Volkswagen Sedán posee la nomenclatura Tipo 1. El nombre Transportert1 ya era utilizado en 1950 y en la actualidad se halla registrado. </p>
	<p>Su producción comenzó 8 de marzo de 1950. Impulsado por un motor bóxer de cuatro cilindros de 25 CV refrigerado por aire en la parte trasera, con capacidad para cargar 760 kg y alcanzar una velocidad máxima de 80 km/h y entre las utilidades que le fueron descubiertas al poco tiempo están su adaptación como ambulancia y como coche de bomberos. Durante esta época se introduce una versión con asientos desmontables y tres ventanas en ambos lados de hasta 8 plazas con innumerables posibilidades de configuración de asientos, lo cual lo transforma para obtener el espacio deseado, se la designa como Volkswagen Transporter Kombi (por la voz alemana Kombiwagen). </p>
	<p>En septiembre de 1951, en el Salón Internacional del Automóvil de Frankfurt, Volkswagen presenta el Samba, un microbús de lujo de la línea Transporter; el cual posee espacio para siete pasajeros, ventanas laterales, ventanillas curvadas en las esquinas del toldo y techo corredizo de lona. </p>
	<p>En 1952, Westfalia-Werke desarrolla un modelo para el fin de semana y las vacaciones basado en el Volkswagen Transporter, que posee accesorios desmontables, como una mesa plegable y una cocina. </p>
	<p>Dada la alta demanda en América del Sur, en 1953 se decide abrir una planta de ensamble en la ciudad brasileña de São Paulo, donde es denominado Volkswagen Kombi. De la misma forma, en 1956 se abre una fábrica de montaje en Sudáfrica. Para finales de la década ya existían más de 30 versiones distintas. </p>
</body>
</html>
