<!DOCTYPE html>
<html>
<head>
	<title>consulta</title>
	<link type="text/css" href="css/style.css" rel="stylesheet">
	<link type="text/css" href="css/formulario.css" rel="stylesheet">
	<link type="text/css" href="css/menu.css" rel="stylesheet">
</head>   
<body>
% include("templates/header.html", act_item=3)	
	<h1>Busca pasajeros</h1>
	
	<form method="get" action="buscar_resultado">
		Tel&eacute;fono<br>
		<input type="text" placeholder="telefono a buscar"
		name="telbuscar"><br>
		<input type="submit" value="buscar">       
	</form>		
</body>
</html>
